<!-- Begin Call List-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <ul>
                        <li><strong><font size="4px">Paper Submission Deadline: </font><font color="red" size="4px">September 15, 2018</font></strong></li>
                        <li><strong><font size="4px">Paper Notification: </font><font color="red" size="4px">September 26, 2018</font></strong></li>
                        <li><strong><font size="4px">Camera Ready: </font><font color="red" size="4px">October 1, 2018</font></strong></li>
                    </ul>
                </article>
            </div>
        </div>
    </div>

</section>
<!-- End Call List -->
