<!-- Begin Call List-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <a>
                <h4>Overview</h4>
            </a>
            <!--<h3>{{ site.teamBlockTitle }}</h3>-->
            <!--<p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>-->
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <p>
                        The purpose of this workshop is to bring together researchers conducting studies on blockchain systems and exploring its wide scale applications. Blockchain has attracted growing attentions in both academy and industry and is being considered with great potential to facilitate industries like FinTech, supply chain, logistics, food safety, healthcare, manufacturing and etc. Despite these large number of application domains that the blockchain technology is impacting, its widespread adoption is still facing a series of technical challenges from the perspective of complexity, scalability, efficiency, throughput, privacy and security among other implementation challenges in terms of cost, governance, and regulation etc.
                    </p>
                    <p>
                        This workshop welcomes original researches on the subject of blockchain taxonomy and methodology, the innovative solutions to the key issues and challenges, the latest advances and future of blockchain as well as the case studies for exploring the potential of blockchain technologies in emerging landscapes and industrial applications. Research may cover and focus on either the fundamental methodological studies or the use case and application demonstrations.
                    </p>
                </article>
            </div>
        </div>
    </div>

    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <a>
                <h4>Topics of Interest</h4>
            </a>
            <!--<h3>{{ site.teamBlockTitle }}</h3>-->
            <!--<p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>-->
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <p>
                        <strong>Topics of interest include, but are not limited to:</strong>
                    </p>
                    <ul>
                        <li>Blockchain network and architecture design</li>
                        <li>Distributed consensus algorithms and protocols</li>
                        <li>Blockchain performance and scalability</li>
                        <li>Distributed database and ledger design and performance enhancement</li>
                        <li>Peer-to-Peer communication protocols</li>
                        <li>Smart contract design, programming, testing and workflow automation</li>
                        <li>Validation of smart contracts</li>
                        <li>DAO (Decentralized Autonomous Organization)</li>
                        <li>Privacy and security of blockchain</li>
                        <li> Blockchain Proof of Concept (PoC), test-beds and applications (FinTech, Healthcare, Logistics, Manufacturing and etc.)
                        </li>
                        <li>Blockchain meets industry 4.0 & IoT</li>
                        <li>Blockchain in 5G</li>
                        <li>Blockchain standards frameworks</li>
                        <li>Future innovation in blockchain</li>
                        <li>Legal and Regulatory Issues</li>
                        <li>Blockchain as a Service (BaaS)</li>
                        <li>Blockchain interoperability</li>
                    </ul>
                </article>
            </div>
        </div>
    </div>

    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <a>
                <h4>Best Paper Award</h4>
            </a>
            <!--<h3>{{ site.teamBlockTitle }}</h3>-->
            <!--<p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>-->
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <p>
                        BCTS best paper award recognizes original research and impactful application of blockchain.

                    </p>
                    <p>
                        The award is supported by AWS with <font color="red"><b>US$3000 Credit Codes</b></font>.
                    </p>
                </article>
            </div>
        </div>
    </div>


</section>
<!-- End Call List -->
