<!-- Begin Call List-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <a>
                <h4>Submission Guide</h4>
            </a>
            <!--<h3>{{ site.teamBlockTitle }}</h3>-->
            <!--<p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>-->
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <p>
                        Each submission must not exceed 8 pages in the IEEE 8.5" x 11" two-column format with 10-point font,
                        including tables, figures and references. Template formatting is located at <a href="https://www.ieee.org/conferences/publishing/templates.html">
                        IEEE website</a>.
                        The final version will be limited to 6 pages in IEEE proceeding format for conference papers.
                        Up to 2 extra pages may be purchased.
                    </p>
                    <p>
                        All submitted manuscripts will be peer-reviewed by the program committee members.
                        At least one author of all the accepted paper should register and give a presentation in the
                        conference in order for the accepted paper to be included into the IEEE digital library.
                        All accepted papers will be included in IEEE Xplore and indexed by EI.
                        Submission site is at <a href="https://easychair.org/conferences/?conf=icpads2018">EasyChair</a>.
                    </p>
                </article>
            </div>
        </div>
    </div>

</section>
<!-- End Call List -->
